<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping Pong Admin Panel</title>
</head>
<body>
  <form method="post">
    <label for="playername">Add player</label>
    <input name="playername" id="playername" required>
    <input id='addplayer' type="submit" value="Add player">
  </form>
  <br>
  <form method="post">
    <label for="victorious">Victorious</label>
    <input name="victorious" id="victorious" required>
    <label for="defeated">Defeated</label>
    <input name="defeated" id="defeated" required>
    <input id="addmatch" type="submit" value="Add match">
  </form>
    <h1>Elo Ranking</h1>
  <table border="6">
      <thead><tr>
          <th><center>Position
          <th><center>Player
          <th><center>Ranking
          <th><center>Matches
          <th><center>Win streak
      </tr></thead>
      <tbody>
{% for (name, elo, matches, win_streak) in rating_list %}
      <tr>
          <td><center>{{ loop.index }}
          <td>{{ name }}
          <td><center>{{elo}}
          <td><center>{{matches}}
          <td><center>{{win_streak}}
      </tr>
{% endfor %}
      </tbody>
  </table>
  <br>
  <h1>Match history</h1>
  <table border="6">
      <thead><tr>
          <th><center>Winner
          <th><center>Defeated
      </tr></thead>
      <tbody>
{% for (winner, defeated) in matches_list %}
    <tr>
        <td><center><strong>&nbsp;{{ winner }}&nbsp;</strong>
        <td><center>&nbsp;{{ defeated }}&nbsp;
    </tr>
{% endfor %}
      </tbody>
  </table>
</body>
</html>