<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping Pong Ranking</title>
</head>
<body>
    <h1>Elo Ranking</h1>
  <table border="6">
      <thead><tr>
          <th><center>Position
          <th><center>Player
          <th><center>Ranking
          <th><center>Highest ranking
          <th><center>Matches
          <th><center>Win streak
          </center>
      </tr></thead>
      <tbody>
{% for (name, elo, matches, win_streak, highest_ranking) in rating_list %}
      <tr>
          <td><center>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{ loop.index }}
          <td>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{ name }}
          <td><center>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{elo}}
          <td><center>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{highest_ranking}}
          <td><center>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{matches}}
          <td><center>{% if loop.index == 1%}<font color="blue"><strong>{% endif %}{{win_streak}}
          </strong></font></center>
      </tr>
{% endfor %}
      </tbody>
  </table>
  <br>
  <h1>Match history</h1>
  <table border="6">
      <thead><tr>
          <th><center>Winner
          <th><center>Defeated
      </tr></thead>
      <tbody>
{% for (winner, defeated) in matches_list %}
    <tr>
        <td><center><font color="green"><strong>&nbsp;{{ winner }}&nbsp;</strong></font>
        <td><center>&nbsp;{{ defeated }}&nbsp;</center>
    </tr>
{% endfor %}
      </tbody>
  </table>
</body>
</html>