<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ping Pong Ranking</title>
</head>
<body>
  <h1>Elo Ranking</h1><br>
  <table>
      <thead><tr><th>Player</th><th>Ranking</th><th>Matches</th></tr></thead>
      <tbody>
{% for (name, elo, matches) in rating_list %}
      <tr><td>{{ name }}</td><td>{{elo}}</td><td>{{matches}}</td></tr>
{% endfor %}
      </tbody>
  </table>
  <br>
  <h1>Match history</h1><br>
  <table>
      <thead><tr><th>Winner</th><th>Defeated</th></tr></thead>
      <tbody>
{% for (winner, defeated) in matches_list %}
    <tr><td><strong>{{ winner }}</strong></td><td>{{ defeated }}</td></tr>
{% endfor %}
      </tbody>
  </table>
</body>
</html>